__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/
*/.ipynb_checkpoints/*
.env
.venv
env/
venv/
.DS_Store
*.mp4
*.webm
*.npy
*.avi
*.pt
*/logs/

data/replays/*
data/videos/*
!data/replays/.gitkeep
!data/videos/vis_sample_video.mp4

results/*
!results/eval/
!results/model/
!results/video/
!results/eval/.gitkeep
!results/model/.gitkeep
!results/video/vis_sample_output_video.mp4

src/key/*.json
